li {
    list-style-type: none;
    display: flex;
}

h3 {
    padding-inline-start: 10%;
}

@media (max-width: 700px) {
    .info {
        width: 100vw;
        position: fixed;
        z-index: 1111;
        background-color: rgb(55 208 238);
        color: white;
        height: 30px;
        box-shadow: 1px 1px 48px #eebeff;
    }
    .Rank_info {
        width: 40%;
        padding-left: 14%;
    }
    .name_info {
        width: 35%;

        padding-left: 10%;
    }
    .points_info {
        padding-left: 60%;
    }
}

@media (min-width: 700px) {
    .info {
        width: 100vw;
        display: flex;
        position: fixed;
        background-color: rgb(55 208 238);
        z-index: 1111;
        color: white;
        font-weight: bold;
        height: 60px;
        box-shadow: 1px 1px 48px #eebeff;
    }
    .Rank_info {
        padding-left: 11%;
        width: 10%;
    }
    .name_info {
        width: 34%;
        padding-left: 12%;
    }
}
