header {
    background-color: #ffffff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    box-shadow: 1px 1px 22px #e1faff;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.logo_wrapper {
    width: 30%;
    display: flex;
    justify-content: left;
}
.logo_wrapper .appLogo {
    width: 100px;
    cursor: pointer;
}
.wrapper {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

/* Styling the header text */
header h1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(156 52 194);
    font-size: 36px;
    margin: 0;
}
header .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container .leaderboard_logo {
    width: 50px;
}

/* Styling the header text on smaller screens */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 21px;
    }
    .logo_wrapper {
        width: 30%;
        display: flex;
        justify-content: left;
    }
    .logo_wrapper .appLogo {
        width: 63px;
        cursor: pointer;
    }
}

/* Add margin-top to the next element to ensure it doesn't go behind the header */
.next-element {
    margin-top: 80px; /* Adjust as needed based on the height of the header */
}
