* {
    margin: 0;
    padding: 0;
}

/* main {
    width: 40rem;
    height: 43rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 80px;
} */

#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
}

#leaderboard {
    width: 100%;
    position: relative;
}

table tr {
    width: 100vw;
}
table tr:hover {
    background-color: #9c34c2;
    color: white;
}

.contact_info {
    display: flex;
}
.contact_info img {
    width: 40px;
    margin: 5px;
}
tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

td {
    height: 5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    padding: 1rem; /* Add padding to both sides */
    position: relative;
    align-items: center; /* Align items vertically */
    justify-content: center; /* Align items horizontally */
}

.number,
.name,
.points {
    padding: 0 10px; /* Add padding to both sides */
}

@media (max-width: 700px) {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        color: #141a39;
        cursor: default;
        position: relative;
        top: 100px;
    }

    .number {
        font-size: 2.2rem;
        font-weight: bold;
        width: 12%;
        display: flex;
        padding-left: 40px;
    }
    .number img {
        width: 19px;
    }
    .name {
        width: 37%;
    }
    .points {
        width: 18%;
    }
    .contact_info img {
        width: 60%;
    }
}
@media (min-width: 700px) {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        color: #141a39;
        cursor: default;
        position: relative;
        top: 100%;
    }
    .number {
        font-size: 2.2rem;
        font-weight: bold;
        padding-left: 20%;
        display: flex;
    }
    .number img {
        width: 50px;
    }
}

.name {
    font-size: 1.2rem;
}

.points {
    font-weight: bold;
    font-size: 1.3rem;
}

.points {
    font-weight: bold;
    font-size: 1.3rem;
}

.points:first-child {
    width: 10rem;
}

#buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.exit {
    width: 11rem;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #7e7f86;
    border: 0;
    background-color: #fff;
    border-radius: 2rem;
    cursor: pointer;
}

.continue {
    width: 11rem;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #5c5be5;
    border: 0;
    border-bottom: 0.2rem solid #3838b8;
    border-radius: 2rem;
    cursor: pointer;
}

.continue:active {
    border-bottom: 0;
}

@media (max-width: 740px) {
    * {
        font-size: 70%;
    }
}

@media (max-width: 500px) {
    * {
        font-size: 70%;
    }
}

@media (max-width: 390px) {
    * {
        font-size: 70%;
    }
}
